:export {
    whiteColor: $white;
}

body {
  --header-border-color: #c3cbd4;
}

#viewIdx-heading {
    border-bottom: 1px solid var(--header-border-color);
    margin-bottom: 20px;
}

#legend-dl {
    border: 1px solid $gray80;
    background-color: $white;
    border-radius: 3px;
    max-width: 170px;
    padding: 5px 9px 5px 9px;
}

.spaceLeft {
    margin-left: 5px;
}