<?xml version="1.0" encoding="UTF-8"?><updateConfig checkNewerVersion="false" file="C:\Users\idop\AppData\Roaming\BurpSuite\updates\f0f34ac0\burpsuite_community_windows-x64_v2025_5_6.exe" installationDirectory="C:\Users\idop\AppData\Local\Programs\BurpSuiteCommunity" languageId="en" maxCancelCount="10" maxTries="3" retryInhibition="1440" version="2025.5.6-39880">
  <updateArguments/>
</updateConfig>
