div[data-role="health-scroll"] {
    height: 400px;
    margin: 0px;
    overflow: scroll;
}

svg[data-role="health-icon"] {
    padding-right: 8px;
    font-size: 1.75em;
    vertical-align: middle;
}

svg[data-role="section-icon"] {
    padding-right: 5px;
    font-size: 1em;
    vertical-align: middle;
    width: 11px;
    height: 11px;
}

.success {
    color: #53a051;
}

.warning {
    color: #f8be34;
}

.error {
    color: #dc4e41;
}

.disabled {
    color: #818d99;
}