<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.net>
    <webRequestModules>
      <remove prefix="http:"/>
      <remove prefix="https:"/>
      <add prefix="http:"
	       type="Microsoft.Office.BusinessApplications.Fba.HttpFbaRequestCreator,Microsoft.Office.BusinessApplications.Fba,Version=14.0.0.0,Culture=neutral,PublicKeyToken=71e9bce111e9429c" />
      <add prefix="https:"
           type="Microsoft.Office.BusinessApplications.Fba.HttpFbaRequestCreator,Microsoft.Office.BusinessApplications.Fba,Version=14.0.0.0,Culture=neutral,PublicKeyToken=71e9bce111e9429c" />
    </webRequestModules>
  </system.net>
</configuration>
